<nav>
<div id="navbar">
  <ul>
    <li><a href="/">Kérdések</a></li>
    <li><a href="/new_question">Új kérdés hozzáadása</a></li>
    <li><a href="/new_quiz">Új kvíz létrehozása</a></li>
  </ul>
  <ul>
    {{#if logged}}
    <li><a href="#">{{logged}}</a></li>
    <li><a href="/logout">Log Out</a></li>
    {{else}}
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/static/login.html">Log In</a></li>
    {{/if}}
  </ul>
</div>
</nav>