  <p></p>
  {{#each questions}}
    <div id="{{kerdesID}}" onclick="expand({{kerdesID}})">
    <div class="szam">
    <h2>{{kerdesID}}. kérdés</h2></div>
    <div class="kerdes">
    <p>Nehézségi szint: {{szint}}</p><p>Idő: {{ido}} másodperc</p>
    <p>{{leiras}}</p>
    <ul id="kerdes{{kerdesID}}"></ul>
    {{#eq tulajdonos ../logged}}
    <button class="button" onclick="submitDelete({{kerdesID}})">Kérdés törlése</button>
    {{/eq}}
    </div>
    </div>
  {{else}}
    <div class="kerdes">
      <p class="message">Még nincsenek kérdések az adatbázisban.</p>
    </div>
  {{/each}}
  <script src="/static/script.js"></script>