<body>
<p></p>
{{#if submited}}
    <div class="quiz">
    {{#each questions}}
    <div class="kerdes">
    <p>{{leiras}}</p>
        {{#if eltalalta}}
            {{#each answers}}
                {{#if helyes}}
                    <input type="radio" name="{{kerdesID}}" value="{{valasz}}" disabled="{{submited}}" checked>
                    <label for="{{kerdesID}}" class="zold">{{valasz}}</label>
                {{else}}
                    <input type="radio" name="{{kerdesID}}" value="{{valasz}}" disabled="{{submited}}">
                    <label for="{{kerdesID}}">{{valasz}}</label>
                {{/if}}
            <br> 
            {{/each}}
        {{else}}
            {{#each answers}}
                {{#if helyes}}
                    <input type="radio" name="{{kerdesID}}" value="{{valasz}}" disabled="{{submited}}" checked>
                    <label for="{{kerdesID}}" class="piros">{{valasz}}</label>
                {{else}}
                    <input type="radio" name="{{kerdesID}}" value="{{valasz}}" disabled="{{submited}}">
                    <label for="{{kerdesID}}">{{valasz}}</label>
                {{/if}}
            <br> 
            {{/each}}      
        {{/if}}
    </div>
    {{/each}}
    </div>
{{else}}
<form action="submit_quiz" method="POST">
    <div class="quiz">
    {{#each questions}}
    <div class="kerdes">
    <p>{{leiras}}</p>
        {{#each answers}}
        <input type="radio" name="valasz{{kerdesID}}" value="{{valasz}}">
        <label for="{{kerdesID}}">{{valasz}}</label> <br>
        {{/each}}
    </div>
    {{/each}}
    <input type="hidden" name="kvizId" id="" value="{{quizId}}">
    <input type="submit" value="Kvíz leadása">
    </div>
</form>
{{/if}}
</body>