a {
    text-decoration: none;
}

/* navbar */
#navbar {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    height: 60px;
    width: 1200px;
    margin: auto;
}

nav ul {
    float: left;
}

nav ul li {
    display: inline-block;
    line-height: 30px;
    margin: 0 10px;
}

nav ul li a {
    color: #D0F0C0;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.9);
}

/* formok */
body {
    background-image: url(/static/background/bgr3.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    font-family: sans-serif;
    color: #D0F0C0;
}

.felso {
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    width: 800px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.formok {
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    width: 800px;
}

form {
    padding: 10px;
}

/* kerdesek */
.szam {
    background-color: rgba(0, 0, 0, 0.8);
    margin: auto;
    width: 1200px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.kerdes {
    background-color: rgb(0,0,0,0.6);
    margin: auto;
    margin-bottom: 20px;
    width: 1180px;
    padding: 10px;
}

/* textfieldek, gombok */

input {
    border: 1px solid rgba(46, 124, 129, 0.534);
    border-radius: 3pt;
    background-color: wheat;
}

.button {
    background-color: #D0F0C0;
    color: black;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border: 2px solid;
    padding: 14px 60px;
    cursor: pointer;
}

.zold {
    background-color: green;
}

.piros {
    background-color: red;
}